<div class="container">
  <div class="row">
    <div class="title-new-message">
      <h2>Mon message</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="enter-message">
        <div class="enter-message-content">
          <div class="enter-message-content-support">
            <% page_header "Start Conversation" %>

            <%= form_tag messages_path, method: :post do %>

              <div class="form-group">
                <%= label_tag '', 'Je souhaite envoyer un message à :', id: 'label-new-message' %>
                <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%#= label_tag 'message[subject]', 'Subject' %>
                <%#= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
              </div>

              <div class="form-group">
                <%#= label_tag 'message[body]', 'Message :' %>
                <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', placeholder: "Ecrivez votre message ", required: true %>
              </div>

          </div>
        </div>

        <div class="enter-message-button-section">
          <div class="enter-message-button">
              <%= submit_tag 'Send', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
