<p>
  Message <%= box == 'sentbox' ? 'envoyé à' : 'reçu de' %> :
  <%= render 'conversations/participants', conversation: message %>
</p>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><%= message.subject %></div> -->
    <div class="panel-body">
      <div class="messages">
        <% message.receipts_for(current_user).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %>
          <!-- <div class="media-left">
            <%#= gravatar_for message.sender, 45, message.sender.name %>
          </div> -->
          <div class="media-body">
            <h6 class="media-heading">Le <%= message.created_at.strftime("%-d %B %Y, (%H:%M:%S)") %> :</h6>
            <%= message.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
