<% page_header "Your Conversations" %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="title-message">
        <h2>Mes messages</h2>
      </div>
      <p><%= link_to 'Reçus', conversations_path(box: "inbox") %></p>
      <p><%= link_to 'Envoyés', conversations_path(box: "sentbox") %></p>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <div id="new-conversation-button">
        <p><%= link_to 'Commencer une conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="cards-messages">
        <ul class="list-unstyled">
          <!-- Conversations index -->
          <li>
            <%= render partial: 'conversations/conversation', collection: @conversations %>
            <%= will_paginate %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <div class="messages-displays">
        <!-- show.js.erb -->
      </div>
    </div>
  </div>
</div>


