<% content_for :meta_title, "RemplaMatch - #{current_user.first_name} #{current_user.last_name}" %>

<div class="wrapper-dashboard">
  <% @finished_bookings.each do |booking| %>

    <% practice_user = find_practice_user(booking) %>
    <% locum_user = find_locum_user(booking) %>
    <% other_user = find_other_user(booking) %>

    <div class="accepted-booking-card">

      <div class="booking-card-header light-padding">
        <i class="fa fa-user-md"></i><span class="flex-item"> Remplacement du <strong><%= l(booking.start_date, format: "%e %B %Y") %></strong> au <strong><%= l(booking.end_date, format: "%e %B %Y") %></strong> - Reversement au remplaçant : <strong><%= booking.commission %>%</strong></span><i class="fa fa-envelope flex-item"></i>
      </div>

      <div class="accepted-booking-card-content">
        <div class="inner-card">
          <div class="inner-card-header text-center light-padding">
            <%= image_tag (practice_user.avatar.nil? ? "placeholder_pic.png" : practice_user.avatar), class: "avatar-large" %>
            <p><%= practice_user.first_name %> <strong><%= practice_user.last_name %></strong></p>
            <p><em><%= practice_user.has_practice ? "Remplacé(e)" : "Remplaçant" %></em></p>
          </div>
        </div>
        <div class="card-split" style="border-right: 1px solid #eee;"></div>
        <div class="card-split">
          <%#= image_tag "replacement_icon_green.png", style: "width: 40px; position: relative; left: -20px; background-color: white;" %>
        </div>
        <div class="inner-card">
          <div class="inner-card-header text-center light-padding">
            <%= image_tag (locum_user.avatar.nil? ? "placeholder_pic.png" : locum_user.avatar), class: "avatar-large" %>
            <p><%= locum_user.first_name %> <strong><%= locum_user.last_name %></strong></p>
            <p><em><%= locum_user.has_practice ? "Remplacé(e)" : "Remplaçant" %></em></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="booking-card-pre-footer light-padding">

        <% if Review.where(booking_id: booking.id).size == 0 %>

          <button type="button" class="btn btn-info btn-calendar" data-toggle="modal" data-target="#myModal">
            Donnez votre avis
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for([ other_user, @review ]) do |f| %>
                    <%= f.error_notification %>

                    <%= f.input :rating, label: "Nombre d'étoiles", collection: [1,2,3,4,5] %>
                    <%= f.input :content, label: "Commentaire" %>
                    <%= f.input :booking_id, as: :hidden, input_html: { value: booking.id } %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                  <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <p class="text-center validation-p">Votre avis a bien été pris en compte - Merci</p>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
