<% content_for :meta_title, "RemplaMatch - Modifier mon profil - #{current_user.first_name} #{current_user.last_name}" %>

<div class="edit_user_background">
  <div class="my-profile-header" style = "padding: 20px;">
    <%= simple_form_for @user, :url => @user do |f|%>
      <% f.error_notification %>
      <!-- left-edition : picture, firstname, lastname, A la recherche de -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="left-editing">
                <div class="avatar-header text-center">
                  <% if @user.avatar.nil? %>
                    <%= image_tag "placeholder_pic.png", class: "avatar-superextralarge" %>
                  <% else %>
                    <%= cl_image_tag @user.avatar.path, width: 100, height: 100, crop: :fill, :class => "avatar-superextralarge" %>
                  <% end %>
                </div>
                <div>
                    <%= f.attachinary_file_field :avatar, as: :attachinary, cloudinary: { folder: "#{current_user.id}_#{current_user.first_name}_#{current_user.last_name}"} %>
                </div>
                <div>
                    <%= f.input :last_name, placeholder: "#{@user.last_name}", label: false, class: "form-inline" %>
                </div>
                <div>
                    <%= f.input :first_name, placeholder: "#{@user.first_name}", label: false %>
                </div>
                <div class="replacement-need">
                  <%= f.input :has_practice, collection: [['Je recherche un remplaçant', true], ['Je recherche un remplacement', false]], label: false %>
                </div>
                <div>
                    <%= f.input :address, placeholder: "#{@user.address}", label: false %>
                </div>
              </div>
            </div>
              <!-- right-edition -->
              <div class="col-xs-12 col-sm-8">
                <div class="right-editing">
                  <div id="accordion">
                    <h3>Informations clés</h3>
                      <ul>
                        <div class="flex-fields">
                          <div class="flex-icons"><i class="fa fa-fw fa-stethoscope icon-profile"></i></div>
                          <div class="flex-input"><%= f.input :speciality, label: false, placeholder: "#{@user.speciality}", collection: [['Médecine générale', 'medg'], ["Kinésithérapie", "kine"], ["Autre spécialité", "otherspe"]], style: "width: 100%;" %></div>
                        </div>
                        <div class="flex-fields">
                          <div class="flex-icons"><i class="fa fa-fw fa-graduation-cap icon-profile"></i></div>
                          <div class="flex-input"><%= f.input :education, placeholder: "#{@user.education }", label: false %></div>
                        </div>
                        <div class="flex-fields">
                          <div class="flex-icons"><i class="fa fa-fw fa-hashtag icon-profile"></i></div>
                          <div class="flex-input"><%= f.input :numero_ordre, placeholder: "#{@user.numero_ordre }", label: false %></div>
                        </div>
                        <% if !@user.has_practice %>
                          <div class="flex-fields">
                            <div class="flex-icons"><i class="fa fa-fw fa-file-text-o icon-profile"></i></div>
                            <div class="flex-input"><%= f.input :numero_ursaff, placeholder: "#{@user.numero_ursaff }", label: false %></div>
                          </div>
                        <% end %>
                      </ul>
                    <h3>Activité & cabinet</h3>
                       <ul>
                       <!-- User has practice -->
                        <li>
                          <i class="fa fa-fw fa-user-md icon-profile"></i>
                          <%= f.input :convention, placeholder: "#{@user.convention }", collection: [1, 2, 3], label: "Conventionnement secteur" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-suitcase icon-profile"></i>
                          <%= f.input :house_visits, placeholder: "#{@user.house_visits}", collection: [['Aucune visite à domicile', 'none'], ["Jusqu'à 2 visites à domicile / jour en moyenne", "max2"], ["Plus de 2 visites à domicile / jour en moyenne", "above2"]], label: "Visites à domicile" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-phone icon-profile"></i>
                          <%= f.input :secretary, placeholder: "#{@user.secretary}", collection: [['Secrétariat disponible', true], ["Pas de secrétariat", false]], label: "Secrétariat" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-home icon-profile"></i>
                          <%= f.input :housing, placeholder: "#{@user.housing}", collection: [['Hébergement possible', true], ["Pas d'hébergement possible", false]], label: "Hébergement" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-money icon-profile"></i>
                          <%= f.input :commission, placeholder: "#{@user.commission }", label: "Versement souhaitée (%)" %>
                        </li>
                        <!-- User doesn't have practice -->
                        <li>
                          <i class="fa fa-fw fa-suitcase icon-profile"></i>
                          <%= f.input :house_visits_tolerance, placeholder: "#{@user.house_visits_tolerance}", collection: [['Aucune visite à domicile acceptée', 'none'], ["Maximum 2 visites à domicile / jour acceptées", "max2"], ["Visites à domicile acceptées", "above2"]], label: "Visites à domicile" %>
                        </li>

                        <li>
                          <i class="fa fa-fw fa-phone icon-profile"></i>
                          <%= f.input :nosecretary_tolerance, placeholder: "#{@user.nosecretary_tolerance}", collection: [['Absence de secrétariat acceptée', true], ["Secrétariat requis", false]], label: "Secrétariat" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-home icon-profile"></i>
                          <%= f.input :nohousing_tolerance, placeholder: "#{@user.nohousing_tolerance}", collection: [['Hébergement non-nécessaire', true], ["Hébergement nécessaire", false]], label: "Hébergement" %>
                        </li>
                        <li>
                          <i class="fa fa-fw fa-money icon-profile"></i>
                          <%= f.input :min_commission, placeholder: "#{@user.min_commission }", label: "Versement minimal souhaité (%)" %>
                        </li>
                      </ul>
                    <h3>Présentation</h3>
                      <ul>
                        <li>
                          <%= f.input :presentation, placeholder: "#{@user.presentation}", label: "Rédigez votre présentation et obtenez jusqu'à 80% de résultats en plus" %>
                        </li>
                        <li>
                          <%= f.input :publications, placeholder: "#{@user.publications}", label: "Renseignez vos publications" %>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
              <%= f.button :submit,"Terminé", :class => "btn btn-primary btn-search-home user-edit-button",  :style => "margin: 50px" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>

  <script>

  $(document).ready(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });

  </script>

<% end %>
