<% content_for :meta_title, "RemplaMatch - Mon profil - #{current_user.first_name} #{current_user.last_name}" %>

<div class="container user_container">
  <div class="row" id="main_user_row">
    <div class="profile">

      <div class="card-profile">
        <div class="col-xs-12 col-md-8">
          <ul class = "list-unstyled doc_resume text-center">
            <li>
              <% if current_user.avatar.nil? %>
                <%= image_tag "placeholder_pic.png", class: "avatar-superextralarge" %>
              <% else %>
                <%= image_tag current_user.avatar, class: "avatar-superextralarge " %>
              <% end %>
            </li>
            <li><H4><strong>Dr </strong><%= current_user.first_name %> <%= current_user.last_name %></H4></li>
            <li><i class="fa fa-stethoscope" id="icon-profil"> : <%= current_user.speciality %></i></li><hr>
            <li><i class="fa fa-home" id="icon-profil"> : <%= current_user.address %></i></li><hr>
            <li><i class="fa fa-graduation-cap" id="icon-profil"> : <%= current_user.education %></i></li>
          </ul>
          <div class="description-profil">
            <div class="col-xs-12">
              <h4>Présentation :</h4>
              <% if current_user.presentation.nil? %>
              <i><p> En attente d'informations de la part du médecin</p></i>
              <% else %>
              <h6><%= current_user.presentation %></h6>
              <%end%>
              <hr>
            </div>
            <div class="col-xs-12">
              <h4>Cursus et publications :</h4>
              <% if current_user.publications.nil? %>
              <i><p> En attente d'informations de la part du médecin</p></i>
              <% else %>
              <h6><%= current_user.publications %></h6>
              <% end %>
              <hr>
            </div>
          </div>
          <div class="location">
            <div class="card-acces col-xs-12 col-md-12">
              <h4>Informations d'accès :</h4>
              <p><%= current_user.address %></p>
            </div>
            <div id="map-user" style="; height: 200px;" class="hidden-xs col-md-12">
              <script type="text/javascript">
                <% content_for(:after_js) do %>
                  <%= javascript_tag do %>
                    $(document).ready(function() {
                      handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map-user' } }, function(){
                        markers = handler.addMarkers(<%= raw @markers.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                        handler.getMap().setZoom(15);
                      });
                    });
                  <% end %>
                <% end %>
            </script>
            </div>
          </div>
        </div>
      </div>

      <div id="small_calendar" class="text-center">
        <div class="col-xs-12 col-md-4">
            <div class="description-profil grey_card">
              <h4>Recommandations :</h4>
                <div class="empty-comment">
                  <i class="fa fa-comment"></i>
                  <p>Il n'y a pas encore de recommandation pour cet utilisateur</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
