<div class="wrapper">
  <div class="page-content padded">
    <div class="container-fluid main">
      <div id="search-filter">
        <form action="/index">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div id="left-filter">
                <div class="row">

                  <!-- <label for="location">Lieu</label> -->
                  <input class="search-input" placeholder="Ville ou adresse..." name="location" id="user_input_autocomplete_address">

                </div>
                <div class="row">

                  <!-- <label for="speciality">Spécialité</label> -->
                  <input type="select" class="search-input" placeholder="Spécialité" name="speciality">

                </div>
                <div class="row">

                  <!-- <label for="location">Dates</label> -->
                  <input type="text" class="search-input datepick" placeholder="Date de début" name="start_date">
                  <input type="text" class="search-input datepick" placeholder="Date de fin" name="end_date">

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div id="right-filter">
                <div class="row">

                </div>
                <div class="row">

                </div>
                <div class="row">
                  <div class="col-xs-4 no-side-padding">
                    <div id="convention" class="filter-option">
                      <div class="form-group">
                        <label>Convention </label>
                        <select name="convention" class="search-input">
                          <option value="">Tout</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 no-side-padding">
                    <div id="housing" class="filter-option">
                      <div class="form-group">
                        <label for="housing">Hébergement </label>
                        <input type="checkbox" name="housing" class="search-input">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 no-side-padding">
                    <div id="secretary" class="filter-option">
                      <div class="form-group">
                        <label for="housing">Secrétariat </label>
                        <input type="checkbox" name="housing" class="search-input">
                      </div>
                    </div>
                  </div>
                </div>

                <div id="the_slider">
                  <input type="hidden" id="min-com" name="min-com">
                  <input type="hidden" id="max-com" name="max-com">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center" id="filter-button">
              <input type="submit" value="Filtrer" class="btn btn-primary" id="filter-button" style="width: 33%;">
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center hide-filter">
          <span class="hide-arrow"><i class="fa fa-arrow-circle-o-up align-center"></i></span>
          <span class="hide-arrow hidden"><i class="fa fa-arrow-circle-o-down align-center"></i></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center hide-filter" style="box-shadow: none;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="cards">
            <div class="container-fluid">
              <div class="row">
                <% if @users.first.nil? %>
                  <h2 class="text-center"><i class="fa fa-frown-o"></i></h2>
                  <h3 class="text-center">Sorry, there is no result in your area.</h3>
                <% end %>
                <% @users.each do |user| %>
                <div class="col-xs-12">
                  <%= link_to user_path(user) do %>
                    <div class="card card-color">
                      <div class="card-avatar">
                        <% if user.avatar.nil? %>
                          <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
                        <% else %>
                          <%= image_tag user.avatar, class: "avatar-large" %>
                        <% end %>
                      </div>
                      <div class="card-content">
                        <h4><%= user.speciality %></h4>
                        <% if user.reviews.size > 0 %>
                          <h4><%= "<i class='fa fa-star'></i>" * user.reviews.average(:rating).to_f.round %></h4>
                        <% end %>
                        <h5><%= user.address %></h5>
                      </div>
                      <div class="card-tag">
                        <h5>XX% to XX%</h5>
                      </div>
                    </div>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-4 no-padding map">
          <div id="map" style="position: fixed;"></div>
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).on('ready', function() {
                handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function(){
                  markers = handler.addMarkers(<%= raw @markers.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                });
              })
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
