<% content_for :meta_title, "RemplaMatch - Profils de remplaçants" %>

<div class="page-content padded">
  <div class="container-fluid main">
    <div id="search-filter">
      <form action="/search_locums">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <!-- <div class="row-fluid"> -->
              <div class="col-xs-12">
                <input class="search-input full-input" placeholder="Ville ou adresse" name="location" id="user_input_autocomplete_address" value="<%= @location %>">
              </div>
            <!-- </div> -->
            <!-- <div class="row-fluid"> -->
              <div class="col-xs-12">
                <select class="search-input select-height full-input" name="speciality">
                  <option <%= "selected" if @speciality == "medg" %> class="search-input" value="medg">Médecine générale</option>
                  <option <%= "selected" if @speciality == "kine" %> class="search-input" value="kine">Kinésithérapie</option>
                  <option <%= "selected" if @speciality == "otherspe" %> class="search-input" value="otherspe">Autre spécialité</option>
                </select>
              </div>
<!--             </div>
            <div class="row-fluid"> -->
              <div class="col-xs-12 col-sm-6">
                <input type="text" class="search-input search-date datepick" placeholder="Date de début" name="start_date" value="<%= @start_date %>">
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="text" class="search-input search-date datepick" placeholder="Date de fin" name="end_date" value="<%= @end_date %>">
              </div>
            <!-- </div> -->
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="row-fluid">
              <div class="col-xs-12">
                <div class="option-flex filter-row">
                  <div class="label-option">
                    <label for="min_commission">Reversement au remplaçant</label>
                  </div>
                  <div class="slider-values">
                    <input type="text" name="min_commission" class="text-center slider-values-text" id="min_commission" readonly>
                  </div>
                  <div class="slider-bar">
                    <div id="slider-single" data-value="<%= @min_commission %>"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-xs-12">
                <div class="option-flex filter-row hidden-xs">
                  <div class="label-option-large">
                    <div class="form-group">
                      <select name="house_visits_tolerance" class="search-input select-height">
                        <option value="" disabled class="selected" selected>Visites à domicile acceptées ?</option>
                        <option <%= "selected" if @house_visits_tolerance == "all" %> value="all">Tous les profils</option>
                        <option <%= "selected" if @house_visits_tolerance == "none" %> value="none">Aucune visite acceptée</option>
                        <option <%= "selected" if @house_visits_tolerance == "max2" %> value="max2">Max 2 / jour acceptées</option>
                        <option <%= "selected" if @house_visits_tolerance == "above2" %> value="above2">Visites acceptées</option>
                      </select>
                    </div>
                  </div>
                  <div class="label-option-large">
                    <div class="form-group">
                      <select name="nosecretary_tolerance" class="search-input select-height">
                        <option value="" disabled class="selected" selected>Secrétariat ?</option>
                        <option <%= "selected" if @nosecretary_tolerance == "all" %> value="all">Tous les profils</option>
                        <option <%= "selected" if @nosecretary_tolerance == true %> value="true">Secrétariat non-requis</option>
                      </select>
                    </div>
                  </div>
                  <div class="label-option-large hidden-xs hidden-sm">
                    <div class="form-group">
                      <select name="nohousing_tolerance" class="search-input select-height">
                        <option value="" disabled class="selected" selected>Hébergement ?</option>
                        <option <%= "selected" if @nohousing_tolerance == "all" %> value="all">Tous les profils</option>
                        <option <%= "selected" if @nohousing_tolerance == true %> value="true">Hébergement non-requis</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-xs-12">
                <div class="option-flex filter-row">
                  <div class="label-option">
                    <label for="rating">Note des profils</label>
                  </div>
                  <div class="slider-values">
                    <input type="text" name="rating" class="text-center slider-values-text" id="rating" readonly>
                  </div>
                  <div class="slider-bar">
                    <div id="slider-range2" data-value1="<%= @min_rating %>" data-value2="<%= @max_rating %>"></div>
                  </div>
                  <div class="slider-margin"></div>
                  <div class="slider-addon checkbox hidden-xs">
                    <label><input type="checkbox" name="unrated" value="true" <%= "checked" if @unrated == true %>> Inclure les profils non-notés</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center" id="filter-button">
            <input type="submit" value="Filtrer" class="btn btn-primary" id="filter-button" style="width: 33%;">
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="hide-filter text-center">
          <span class="hide-arrow"><i class="fa fa-arrow-circle-o-up align-center"></i></span>
          <span class="hide-arrow hidden"><i class="fa fa-arrow-circle-o-down align-center"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="hide-filter text-center" style="border: none;">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid container-map">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="cards">
          <div class="container-fluid">
            <div class="row">
              <% if @users.first.nil? %>
                <h4 class="text-center">Désolé, il n'a pas de résultat pour cette recherche (pour le moment).</h4>
              <% end %>
              <% @users.each do |user| %>
              <div class="col-xs-12">
                <%= link_to user_path(user, end_date: @end_date, start_date: @start_date) do %>
                  <div class="card-user" id="user-<%= user.id %>">
                    <div class="card-avatar">
                      <% if user.avatar.nil? %>
                        <%= image_tag "placeholder_pic.png", class: "avatar-xxl" %>
                      <% else %>
                        <%= cl_image_tag user.avatar.path, class: "avatar-xxl", crop: :fill, radius: :max %>
                      <% end %>
                    </div>
                    <div class="card-content-left">
                      <% if user_signed_in? %>
                        <h4>Dr. <%= user.first_name %>  <%= user.last_name %></h4>
                      <% else %>
                        <h4><em></em></h4>
                      <% end %>
                      <% if user.reviews_i_received.size > 0 %>
                        <h4>
                          <%= ("<i class='fa fa-star fa-yellow'></i>" * user.reviews_i_received.average(:rating).to_f.round).html_safe %><%= ("<i class='fa fa-star fa-gray'></i>" * (5 - user.reviews_i_received.average(:rating).to_f.round)).html_safe %>
                        </h4>
                      <% end %>
                      <h5><%= human_speciality(user.speciality) %></h5>
                      <h6><%= user.address %></h6>
                    </div>
                    <div class="card-content-right hidden-xs hidden-sm">
                      <ul class="list-unstyled">
                        <% if user.nohousing_tolerance == false %>
                          <li><i class="fa fa-fw fa-home"></i>Hébergement nécessaire</li><br>
                        <% end %>
                        <% if user.nosecretary_tolerance == false %>
                          <li><i class="fa fa-fw fa-phone"></i>Secrétariat requis</li><br>
                        <% end %>
                        <li>
                          <i class="fa fa-fw fa-suitcase"></i>
                          <% if user.house_visits_tolerance == "none" %>
                            Pas de visites à domicile
                          <% elsif user.house_visits_tolerance == "max2" %>
                            Max 2 visites / jour à domicile
                          <% else %>
                            Visites à domicile acceptées
                          <% end %>
                        </li>
                      </ul>
                    </div>
                    <div class="card-tag">
                      <%= user.min_commission %>%
                    </div>
                  </div>
                  <hr>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden-xs col-sm-4 no-padding">
        <div id="map" style="position: fixed;"></div>
        <% content_for(:after_js) do %>
          <script> <%#= javascript_tag do %>
            $(document).on('ready', function() {
              hoverPicture = {
              url: "<%= asset_path 'marker_blue_small.png' %>",
              width: 60,
              height: 90,
              'anchor': [15, 45]
              };
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);

                (<%=raw @markers.to_json %>).forEach(function(json, index){
                  json.marker = markers[index];

                  // json.marker.serviceObject.addListener('click', function() {
                  //   setTimeout(function() {
                  //     console.log("click");
                  //     $('.card-user').removeClass('highlighted-card');
                  //     $('#user-' + json.id).addClass('highlighted-card');
                  //     var element = document.getElementById('user-' + json.id);
                  //     element.scrollIntoView();
                  //     var scrolledY = window.scrollY;
                  //     if(scrolledY) {
                  //       window.scroll(0, scrolledY - '75px');
                  //     };
                  //   }, 100)
                  // });

                  gr = {};
                  gr.marker = void 0;
                  $("#user-" + json.id).on('mouseenter', function() {
                    gr = { lat: json.lat, lng: json.lng, picture: hoverPicture };
                    handler.removeMarker(json.marker);
                    gr.marker = handler.addMarker(gr);
                    }).on("mouseleave", function() {
                        handler.removeMarker(gr.marker);
                        json.marker = handler.addMarker(json);
                      });
                });
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });

              function gmaps4rails_callback() {
                function say_yo(arg) { return function(){alert('yo '+ arg + '!' );};};
                  for (var i = 0; i <  Gmaps4Rails.markers.length; ++i) {
                    google.maps.event.addListener(Gmaps4Rails.markers[i].google_object, 'click', say_yo(i));
                  }
              }

            });
          </script> <%# end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
