<div class="wrapper">
  <div class="page-content padded">
    <div class="container-fluid main">
      <div id="search-filter">
        <form action="/index">
          <div class="row">
            <div class="col-xs-6">
            <div class="form-group">
              <label for="speciality">Spécialité :</label>
              <input type="select" class="form-control" placeholder="Spécialité" name="speciality" />
            </div>
              <input class="form-control" placeholder="Ville ou adresse..." name="location" id="user_input_autocomplete_address">
              <input type="text" class="form-control datepick" placeholder="Date de début" name="start_date">
              <input type="text" class="form-control datepick" placeholder="Date de fin" name="end_date">

                <div class="row">
                  <form class="col-lg-9 trip-form">
                    <div class="row row-condensed">
                      <div class="col-md-4 col-sm-6 row-space-1-sm">
                        <input name="checkin" id="checkin" type="text" autocomplete="off" class="form-control datepick" placeholder="Date de début">
                      </div>
                      <div class="col-md-4 col-sm-6 row-space-1-sm">
                        <input name="checkout" id="checkout" type="text" autocomplete="off" class="form-control datepick" placeholder="Date de fin">
                      </div>
                    </div>
                  </form>
                </div>

            </div>
            <div class="col-xs-6">
              <input type="checkbox" label="Hébergement" name="housing">
              <input type="checkbox" label="Secrétariat" name="secretary">
              <input type="checkbox" label="Visites à domicile" name="home_visits">
              <input type="select" label="Secteur / Convention" name="sector">
              <div id="the_slider">
                <input type="hidden" id="min-com" name="min-com">
                <input type="hidden" id="max-com" name="max-com">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center" id="filter-button">
              <input type="submit" value="Filtrer" class="btn btn-warning">
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center hide-filter">
          <span class="hide-arrow"><i class="fa fa-arrow-circle-o-up align-center"></i></span>
          <span class="hide-arrow hidden"><i class="fa fa-arrow-circle-o-down align-center"></i></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center hide-filter" style="box-shadow: none;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="cards">
            <div class="container-fluid">
              <div class="row">
                <% if @users.first.nil? %>
                  <h2 class="text-center"><i class="fa fa-frown-o"></i></h2>
                  <h3 class="text-center">Sorry, there is no result in your area.</h3>
                <% end %>
                <% @users.each do |user| %>
                <div class="col-xs-12">
                  <%= link_to user_path(user) do %>
                    <div class="card card-color">
                      <div class="card-avatar">
                        <% if user.avatar.nil? %>
                          <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
                        <% else %>
                          <%= image_tag user.avatar, class: "avatar-large" %>
                        <% end %>
                      </div>
                      <div class="card-content">
                        <h4><%= user.speciality %></h4>
                        <% if user.reviews.size > 0 %>
                          <h4><%= "<i class='fa fa-star'></i>" * user.reviews.average(:rating).to_f.round %></h4>
                        <% end %>
                        <h5><%= user.address %></h5>
                      </div>
                      <div class="card-tag">
                        <h5>XX% to XX%</h5>
                      </div>
                    </div>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-4 no-padding map">
          <div id="map" style="position: fixed;"></div>
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).on('ready', function() {
                handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function(){
                  markers = handler.addMarkers(<%= raw @markers.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                });
              })
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
