<% content_for :meta_title, "RemplaMatch - Profil de #{@user.first_name} #{@user.last_name}" %>




<div class="wrapper relative">

  <div class="myprofile-header">
    <div class="avatar-header text-center">
      <% if @user.avatar.nil? %>
          <%= image_tag "placeholder_pic.png", class: "avatar-superextralarge" %>
        <% else %>
          <%= cl_image_tag @user.avatar.path, width: 100, height: 100, crop: :fill, :class => "avatar-superextralarge" %>
        <% end %>
      <h4><strong><%= "Dr. " if @user.speciality != "kine" %></strong><%= @user.first_name %> <%= @user.last_name %></h4>
      <h5>
        <i class="fa fa-fw fa-search"></i>
        <%= @user.has_practice ? raw("A la recherche de <strong>remplaçants</strong>") : raw("A la recherche de <strong>remplacements</strong>") %>
      </h5>
      <% if current_user == @user %>
        <div class="text-center">
        <%= link_to "Modifier mon profil", edit_user_path(current_user), :class => "btn btn-primary btn-search-home user-edit-button " %>
      </div>
    <% end %>
    </div>
    <hr>
  </div>
  <div class="container myprofile-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="col-sm-12 col-md-6">
          <div class="myprofile-card">
            <h4>Informations clés</h4>
            <hr>
            <ul class="list-unstyled doc-user-profile">
              <li><i class="fa fa-fw fa-stethoscope icon-profile"></i><p><%= human_speciality(@user.speciality) %></p></li>
              <li><i class="fa fa-fw fa-graduation-cap icon-profile"></i><p><%= @user.education %></p></li>
              <li><i class="fa fa-fw fa-hashtag icon-profile"></i><p>Numéro de l'Ordre : <%= @user.numero_ordre %></p></li>
              <% if !@user.has_practice %>
                <li><i class="fa fa-fw fa-file-text-o icon-profile"></i><p>Numéro URSSAF : <%= @user.numero_ursaff %></p></li>
              <% end %>
              <li>
                <i class="fa fa-fw fa-thumbs-up icon-profile"></i>
                <% if @user.reviews_i_received.size > 0 %>
                  <p>
                    <%= ("<i class='fa fa-star fa-yellow'></i>" * @user.reviews_i_received.average(:rating).to_f.round).html_safe %><%= ("<i class='fa fa-star fa-gray'></i>" * (5 - @user.reviews_i_received.average(:rating).to_f.round)).html_safe %>
                    <span class="number-of-reviews"> <%= pluralize(@user.reviews_i_received.size, 'avis reçu') %></span>
                  </p>
                <% else %>
                  <p>Aucun avis reçu pour le moment</p>
                <% end %>
              </li>
            </ul>
            <br><br>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="myprofile-card">
            <h4>
              Activité & cabinet
            </h4>
            <hr>
            <ul class = "list-unstyled doc-user-profile">
              <% if @user.has_practice %>
                <li><i class="fa fa-fw fa-user-md icon-profile"></i><p>Conventionnement secteur <%= @user.convention %></p></li>
                <li><i class="fa fa-fw fa-suitcase icon-profile"></i><p><%= human_house_visits(@user.house_visits) %></p></li>
                <li><i class="fa fa-fw fa-phone icon-profile"></i><p><%= human_secretary(@user.secretary) %></p></li>
                <li><i class="fa fa-fw fa-home icon-profile"></i><p><%= human_housing(@user.housing) %></p></li>
                <li>
                  <i class="fa fa-fw fa-money icon-profile"></i>
                  <p id="p-comm">Versement souhaitée :</p>
                  <div class="small-comm-tag"><%= @user.commission %>%</div>
                </li>
              <% else %>
                <li>
                  <i class="fa fa-fw fa-suitcase icon-profile"></i>
                  <p><%= human_house_visits_tolerance(@user.house_visits_tolerance)%></p>
                </li>
                <li>
                  <i class="fa fa-fw fa-phone icon-profile"></i>
                  <p><%= human_nosecretary_tolerance(@user.nosecretary_tolerance)%></p>
                </li>
                <li>
                  <i class="fa fa-fw fa-home icon-profile"></i>
                  <p><%= human_nohousing_tolerance(@user.nohousing_tolerance)%></p>
                </li>
                <li>
                  <i class="fa fa-fw fa-money icon-profile"></i>
                  <p id="p-comm">Versement minimale souhaitée :</p>
                  <div class="small-comm-tag"><%= @user.min_commission %>%</div>
                </li>
              <% end %>
            </ul>
            <br><br>
          </div>
        </div>

        <div class="col-xs-12">
          <h4>Présentation :</h4>
          <% if @user.presentation.nil? %>
          <p> Pas encore renseigné. </p>
          <% else %>
          <p><%= @user.presentation %></p>
          <%end%>
          <hr>

          <h4>Cursus et publications :</h4>
          <% if @user.publications.nil? %>
          <p> Pas encore renseigné.</p>
          <% else %>
          <p><%= @user.publications %></p>
          <% end %>
          <hr>
        </div>

        <div class="location">
          <div class="card-acces col-xs-12 col-md-12">
            <h4>Localisation du cabinet :</h4>
            <p><%= @user.address %></p>
          </div>
          <div id="map-user" style="; height: 200px;" class="hidden-xs col-md-12">
            <script type="text/javascript">
              <% content_for(:after_js) do %>
                <%= javascript_tag do %>
                  $(document).ready(function() {
                    handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map-user' } }, function(){
                      markers = handler.addMarkers(<%= raw @markers.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      handler.getMap().setZoom(14);
                    });
                  });
                <% end %>
              <% end %>
          </script>
          </div>
        </div>
      </div>

      <div class="slots_reviews col-sm-4">
        <div class="col-xs-12">
          <% if current_user != @user %>
            <div class="user_availabilities">
            <h4>Choisissez un créneau de remplacement</h4>
            <hr>
            <% if @user.slots.first.nil? %>
              <div class="">
                <p>Aucun créneau défini pour le moment.</p>
              </div>
            <%else%>
                <% @user.slots.each do |slot| %>
                  <ul class="list-inline list-unstyled text-center">
                    <% if slot.status == "pending" && slot.end_date > Date.today %>
                      <% if current_user.numero_ordre.nil? %>
                        <ul class="list-unstyled">

                          <li class= "single_dispo"><i class="fa fa-fw fa-calendar-plus-o"></i><%= link_to " #{l(slot.start_date, format: "%e %B %Y")} au #{l(slot.end_date, format: "%e %B %Y")}", user_bookings_path(@user, booking: { user_id: current_user.id,slot_id: slot.id, start_date: slot.start_date, end_date: slot.end_date }), data: {toggle: "modal", target: "#contacter"}%>

                          </li>
                        </ul>
                      <% else %>
                        <ul class="list-unstyled">

                          <li class= "single_dispo"><i class="fa fa-fw fa-calendar-plus-o"></i><%= link_to " #{l(slot.start_date, format: "%e %B %Y")} au #{l(slot.end_date, format: "%e %B %Y")}", user_bookings_path(@user, booking: { user_id: current_user.id, slot_id: slot.id, start_date: slot.start_date, end_date: slot.end_date }), method: :post, data: { confirm: "Etes-vous sûr(e) ?" }, class: "" %>

                          </li>
                        </ul>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
              </div>
            <% end %>
        </div>
        <div class="col-xs-12">
          <div class="myprofile-reviews">
            <h4>Avis reçus</h4>
            <hr>
            <% if @user.reviews_i_received.size > 0 %>
              <% @user.reviews_i_received.order(created_at: :desc).each do |review| %>
                <div class="review">
                  <p><em>"<%= review.content %>"</em></p>
                  <p>
                  <%= ("<i class='fa fa-star fa-yellow'></i>" * review.rating).html_safe %><%= ("<i class='fa fa-star fa-gray'></i>" * (5 - review.rating)).html_safe %>
                  <span class="reviewer-name">de
                  <%= link_to user_path(review.reviewer) do %>
                    <%= review.reviewer.first_name %> <%= review.reviewer.last_name %>
                  <% end %>
                    , le <%= review.created_at.strftime('%d/%m/%Y') %></span>
                  </p>
                </div>
                <hr>
              <% end %>
            <% else %>
            <div class="empty-comment">
              <p>Aucun avis reçus pour le moment.</p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade text-center" id="contacter" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <%= render 'booking/form' %>

      </div>
    </div>
  </div>

  </div>
</div>
