<div class="container" id = "user_container">
  <div class="row">

    <div id="demo">
      simple_form_for @user do |f|
      f.input :title, :as => :hidden, :input_html => { :value => "some value" }
      f.input :title, :as => :hidden, :input_html => { :value => "some value" }
      end
    </div>
    <div id="send" class="text-center">
      <button type="button" class="btn btn-primary">Valider dates</button>
    </div>

    <div id="profile" class="col-xs-12 col-md-3 text-justify">
      <ul class = "list-unstyled">
        <li id="main-avatar">
          <% if current_user.avatar.nil? %>
            <%= image_tag "http://placehold.it/80x80", class: "avatar-extralarge" %>
          <% else %>
            <%= image_tag current_user.avatar, class: "avatar-extralarge " %>
          <% end %>
        </li>
        <li><p><strong>Dr</strong><%= @user.first_name %> <%= @user.last_name %></p></li>
        <hr>
        <li><strong>Spécialité:</strong><p><%=@user.speciality %></p></li>
        <hr>
        <li>
      </ul>
    </div>
    <div id="calendar" class="col-xs-12 col-md-9 text-center">
<!--       <div class="datepick date ">
        <div class="input-group">
          <div class = "dates">
            <h1 class="btn btn-primary col-xs-6">Choisir mes dates <br><i class="fa fa-calendar"></i></h1>
            <h4 class="col-xs-6">Dates recherchées :
          <span><input type="textarea" class="form-control text-center col-xs-6"></h4></span>
          </div>
        </div>
      </div> -->
    </div>
  </div>


  <div class="row">
    <div id="user_content" class="col-xs-12 col-md-8 text-justify">
      <ul class = "list-unstyled">
        <li><strong>Présentation :</strong><p><%= @user.presentation %></p></li>
        <hr>
        <li><strong>Éducation :</strong>  <%=@user.education %></li>
        <hr>
        <li><strong>Publications :</strong> <%=@user.publications %></li>
        <hr>
      </ul>
    </div>
    <div class="map" class="hidden-xs col-md-4 text-center">
      <p>here is the corresponding map</p>
    </div>
  </div>

  <div class="row">
    <div id="user_history" class="col-xs-12 col-md-8 text-center">
      <p>user history to be implemented</p>
    </div>
  </div>

</div>

