<div class="container" id = "user_container">
  <div class="row">

    <div id="demo">
    </div>

      <%= form_tag('/posts') do -%>
      <input id="startDate" type="hidden" value="" />
      <input id="endDate" type="hidden" value="" />
      <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary text-center" value='Valider dates pour cette plage de dates'/>
      <% end -%>

    <div id="profile" class="col-xs-12 col-md-3 text-justify">
      <ul class = "list-unstyled">
        <li id="main-avatar">
          <% if current_user.avatar.nil? %>
            <%= image_tag "http://placehold.it/80x80", class: "avatar-extralarge" %>
          <% else %>
            <%= image_tag current_user.avatar, class: "avatar-extralarge " %>
          <% end %>
        </li>
        <li><p><strong>Dr</strong><%= @user.first_name %> <%= @user.last_name %></p></li>
        <hr>
        <li><strong>Spécialité:</strong><p><%=@user.speciality %></p></li>
        <hr>
        <li>
      </ul>
    </div>
    <div id="calendar" class="col-xs-12 col-md-9 text-center">
    </div>
  </div>


  <div class="row">
    <div id="user_content" class="col-xs-12 col-md-8 text-justify">
      <ul class = "list-unstyled">
        <li><strong>Présentation :</strong><p><%= @user.presentation %></p></li>
        <hr>
        <li><strong>Éducation :</strong>  <%=@user.education %></li>
        <hr>
        <li><strong>Publications :</strong> <%=@user.publications %></li>
        <hr>
      </ul>
    </div>
    <div class="map" class="hidden-xs col-md-4 text-center">
      <p>here is the corresponding map</p>
    </div>
  </div>

  <div class="row">
    <div id="user_history" class="col-xs-12 col-md-8 text-center">
      <p>user history to be implemented</p>
    </div>
  </div>

</div>

