<div class="container" id = "user_container">
  <div class="row">

<!--     <div id="demo">
    </div>

      <%= form_tag(user_slots_path(@user), :method => :post ) do -%>
      <input id="startDate" name="start_date" type="hidden" value="" />
      <input id="endDate" name="end_date" type="hidden" value="" />
      <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary text-center" value='Valider cette plage de dates'/>
      <% end -%> -->



    <div id="profile" class="col-xs-12 col-md-3 text-justify">
      <ul class = "list-unstyled">
        <li id="main-avatar">
          <% if current_user.avatar.nil? %>
            <%= image_tag "http://placehold.it/80x80", class: "avatar-extralarge" %>
          <% else %>
            <%= image_tag current_user.avatar, class: "avatar-extralarge " %>
          <% end %>
        </li>
        <li><p><strong>Dr</strong><%= @user.first_name %> <%= @user.last_name %></p></li>
        <hr>
        <li><strong>Spécialité:</strong><p><%=@user.speciality %></p></li>
        <hr>
        <li>
      </ul>
    </div>
    <div id="calendar" class="col-xs-12 col-md-9 text-center">
    </div>
  </div>


  <div class="row">
    <div id="user_content" class="col-xs-12 col-md-8 text-justify">
      <ul class = "list-unstyled">
        <li><strong>Présentation :</strong><p><%= @user.presentation %></p></li>
        <hr>
        <li><strong>Éducation :</strong>  <%=@user.education %></li>
        <hr>
        <li><strong>Publications :</strong> <%=@user.publications %></li>
        <hr>
      </ul>
    </div>
    <div class="map" class="hidden-xs col-md-4 text-center">
      <p>here is the corresponding map</p>
    </div>
  </div>

  <div class="row">
    <div id="user_history" class="col-xs-12 col-md-8 text-center">
      <p>user history to be implemented</p>
    </div>
  </div>

</div>

<div class="text-center">
  <%= link_to "Prendre contact avec Dr #{@user.first_name} #{@user.last_name}", new_user_booking_path(current_user), class: "btn btn-small btn-warning" %>
</div>

<!-- button to trigger modal -->
<button data-toggle="modal" data-target="#sign-up">Join</button>

<!-- Modal -->
<div class="modal fade text-center" id="sign-up">
<!-- Modal content with Sign up form -->
  <h2>It's working !</h2>
  <div class="container">
    <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-design background">
        <div class="text-center" id="form_title">
          <h2>Information</h2>
          <p>Ajouter des informations vous concernant pour permettre à votre interlocuteur de mieux vous connaître.</p>
        </div>
          <%= simple_form_for(@user) do |f| %>
            <%= f.error_notification %>

            <div id="form-inputs">
              <%= f.input :address, required: true %>
              <%= f.input :speciality, required: true, collection: ['Médecine générale', 'Kinésithérapie', 'Autre spécialité'] %>
              <%= f.input :numero_ordre, required: true %>
              <%= f.input :numero_ursaff, required: true %>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Suivant", method: :patch, :class => 'btn btn-primary', style: "width: 100%;" %>
            </div>

          <% end %>

          <%= link_to "Finir de compléter son profil", user_path(@user) %>
      </div>
    </div>
  </div>
</div>
