<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-2.png" %>
    <span id="logo-text">RemplaMatch</span>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Search form -->
    <% if current_user %>
      <div id="search-div-navbar" class="hidden-xs">
        <% if current_user.has_practice %>
          <form action="/search_locums" class="navbar-wagon-search">
        <% else %>
          <form action="/search_practices" class="navbar-wagon-search">
        <% end %>
            <input type="text" class="navbar-wagon-search-input" name="location" id="user_input_autocomplete_address_navbar" placeholder="Ville ou adresse">
            <input type="hidden" name="unrated" value="true">
            <button type="submit" class="navbar-wagon-search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
      </div>
    <% end %>

    <%= link_to calendar_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <div class="badge-container">
        <i class="fa fa-calendar"></i>
        <% if current_user %>
          <% if pending_requests_count > 0 %>
            <div class="badge badge-blue">
              <%= pending_requests_count %>
            </div>
          <% else %>
            <div class="badge badge-grey">
              <%= pending_requests_count %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to conversations_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <%# if current_user.bikes.first.nil? %>
            <div class="badge badge-grey">0</div>
          <%# else %>
            <%# if current_user.bikes.first.bookings.where(status: "pending").count == 0 %>
<!--               <div class="badge badge-grey">
                <%#= current_user.bikes.first.bookings.where(status: "pending").count %>
              </div>
            <%# else %>
              <div class="badge badge-orange">
                <%#= current_user.bikes.first.bookings.where(status: "pending").count %>
              </div> -->
            <%# end %>
          <%# end %>
        </div>
      <% end %>

        <div class="navbar-name hidden-xs">
          <%= link_to profile_path do %>
            <p><%= current_user.first_name %> <strong><%= current_user.last_name %></strong></p>
          <% end %>
        </div>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item hidden-xs">
        <div class="dropdown">

            <% if current_user.avatar.nil? %>
              <%= image_tag 'placeholder_pic.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to profile_path do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
                <% end %>
              </li>
            </ul>

        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i>  <%= t ".sign_in", default: "Log in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="margin-navbar"></div>
