<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-2.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

    <!-- Search form -->
    <form action="/users" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" name="location" id="user_input_autocomplete_address_navbar" placeholder="Type a location">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <%# if current_user.bikes.first.nil? %>
            <div class="badge badge-grey">0</div>
          <%# else %>
            <%# if current_user.bikes.first.bookings.where(status: "pending").count == 0 %>
              <div class="badge badge-grey">
                <%#= current_user.bikes.first.bookings.where(status: "pending").count %>
              </div>
            <%# else %>
              <div class="badge badge-orange">
                <%#= current_user.bikes.first.bookings.where(status: "pending").count %>
              </div>
            <%# end %>
          <% end %>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i>  <%= t ".sign_in", default: "Log in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="margin-navbar"></div>
