<%# current_user.bookings.each do |booking| %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
          Donnez votre avis
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for([ booking.slot.user, @review ]) do |f| %>
                  <%= f.error_notification %>

                  <%= f.input :rating %>
                  <%= f.input :content %>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
<%# end %>



