<div class="container" id = "home_container">
  <div class="row">
    <div class="main_logo text-center">
        <%= image_tag "logo_name.gif", size: "200x200"%>
    </div>
    <div class="catchline text-center">
      <h3>Et le replacement entre médecins n'est plus un souci</h3>
    </div>
    <div class="search col-xs-12">
      <form action="/search" class="form-inline text-center">
        <label class="" for="formGroupInputSmall">Je recherche</label>
        <select class="form-control" placeholder="..." name="has_practice">
          <option value="false">un remplaçant</option>
          <option value="true">un remplacement</option>
        </select>
        <label for="formGroupInputSmall">à</label>
        <input type="text" class="form-control" placeholder="Lyon" name="location" id="user_input_autocomplete_address">
        <label for="formGroupInputSmall">en</label>
        <select class="form-control" placeholder="Médecine générale" name="speciality">
          <option value="Médecine générale">Médecine générale</option>
          <option value="Kinésithérapie">Kinésithérapie</option>
          <option value="Autre spécialité">Autre spécialité</option>
        </select>
        <input type="submit" value="trouver" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<div class="how">
  <div class="container">
    <div class="row ">
      <div class="text-center">
        <h3>Comment ça marche ?</h3>
        <br>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <%= image_tag "calendar2.svg", size: "100", class: "" %>
            <h5><strong>1.</strong> Déclarer vos disponibilités sur le calendrier intelligent</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <%= image_tag "doctor2.svg", size: "100", class: "" %>
            <h5><strong>2.</strong> Choisissez le cabinet ou le remplacant qui vous convient</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <%= image_tag "switch2.svg", size: "100", class: "" %>
            <h5><strong>3.</strong> Échangez aisément depuis la plateforme</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <%= image_tag "stethoscope2.svg", size: "100", class: "" %>
            <h5><strong>4.</strong> Donner votre feedback à la fin de la prestation</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>ils parlent de nous</h3>
      <br>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "jdn.png", class: "img-responsive" %>
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "paris-sud.png", class: "img-responsive"%>
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "lemonde.png", class: "img-responsive"%>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <div class="owl-carousel">
      <div class="carousel-card text-center">
        <%= image_tag 'placeholder_pic.png', class: "avatar-larger" %>
        <h4>Dr Michel Dupont | Paris (15e)</h4>
        <div class="description text-justify">
          <p>Je suis très heureux de ce service. Je peux désormais rapidement prendre des congés et organiser des weekends de dernières minutes !</p>
        </div>
      </div>
      <div class="carousel-card text-center">
        <%= image_tag 'placeholder_pic.png', class: "avatar-larger" %>
        <h4>Dr Emmanuelle Devis | Paris (07e)</h4>
        <div class="description text-justify">
          <p>Encore interne à hopital, je recherche activement un cabinet dans lequel je pourrais m'installer. Grâce à Remplarama j'ai pu rencontrer des professionnels de santé dans mon secteur par le biais de remplacement efficaces et rapides !</p>
        </div>
      </div>
      <div class="carousel-card text-center">
        <%= image_tag 'placeholder_pic.png', class: "avatar-larger" %>
        <h4>Dr Pierre Petit | Paris (17e)</h4>
        <div class="description text-justify">
          <p>Super service rapide et efficace !</p>
        </div>
      </div>
      <div class="carousel-card text-center">
        <%= image_tag 'placeholder_pic.png', class: "avatar-larger" %>
        <h4>Dr Interne JB Delis | Paris (04e)</h4>
        <div class="description text-justify">
          <p>Encore interne dans à hopital, je recherche activement un cabinet dans lequel je pourrais m'installer. Grâce à Remplarama j'ai pu rencontrer des professionnels de santé dans mon secteur par le biais de remplacement efficaces et rapides !</p>
        </div>
      </div>
    </div>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".owl-carousel").owlCarousel({
        items : 2,
        itemsCustom : false,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [980,3],
        itemsTablet: [768,2],
        itemsTabletSmall: false,
        itemsMobile : [479,1],
        autoPlay : 3000,
        stopOnHover : false
      });
    });
  <% end %>
<% end %>
