<div class="container-fluid" id = "home_container">

  <div class="row">
    <div class="logo text-center">
        <%= image_tag "logo_name", size: "205x160", class: "" %>
    </div>
    <div class="catchline text-center">
      <h3>Et le replacement entre médecins n'est plus un souci</h3>
    </div>
    <div class="search col-xs-12">
      <form action="/search" class="form-inline text-center">
        <label class="" for="formGroupInputSmall">Je recherche</label>
        <input type="select" class="form-control" placeholder="un remplacant" name="profile">
        <label for="formGroupInputSmall">à</label>
        <input type="text" class="form-control" placeholder="Lyon" name="location" id="user_input_autocomplete_address">
        <label for="formGroupInputSmall">en</label>
        <input type="text" class="form-control" placeholder="médecine générale" name="end_date">
        <input type="submit" value="trouver" class="btn btn-primary">
      </form>
    </div>
  </div>

  <div class="row how">
    <div class="text-center">
      <div class="col-xs-6 col-md-2 col-md-offset-2">
        <%= image_tag "calendar2", size: "100", class: "" %>
        <h5>Déclarer vos disponibilités sur le calendrier intelligent</h5>
      </div>
      <div class="col-xs-6 col-md-2">
        <%= image_tag "doctor2", size: "100", class: "" %>
        <h5>Choisissez le cabinet ou le remplacant qui vous convient</h5>
      </div>
      <div class="col-xs-6 col-md-2">
        <%= image_tag "switch2", size: "100", class: "" %>
        <h5>Échangez aisément depuis la plateforme</h5>
      </div>
      <div class="col-xs-6 col-md-2">
        <%= image_tag "stethoscope2", size: "100", class: "" %>
        <h5>Donner votre feedback à la fin de la prestation</h5>
      </div>
    </div>
  </div>

</div>





