<div class="container" id = "home_container">
  <div class="row">
    <div class="main_logo text-center">
        <%= image_tag "logo_name.gif", size: "200x200"%>
    </div>
    <div class="catchline text-center">
      <h3 style="font-weight: lighter; margin-top: 0; padding: 0 20px;">Et le remplacement entre médecins n'est plus un souci</h3>
    </div>
    <div class="search col-xs-12">
      <% if !user_signed_in? %>
        <form action="/search_locums" class="form-inline text-center" id="home-form">
      <% elsif current_user.has_practice %>
        <form action="/search_locums" class="form-inline text-center" id="home-form">
      <% else %>
        <form action="/search_practices" class="form-inline text-center" id="home-form">
      <% end %>
          <label class="" for="formGroupInputSmall">Je recherche</label>
          <% if !user_signed_in? %>
          <select id="practice_select" class="search-input select-height" placeholder="...">
            <option value="false">un remplaçant</option>
            <option value="true">un remplacement</option>
          </select>
          <% elsif current_user.has_practice %>
            <strong>un remplaçant</strong>
          <% else %>
            <strong>un remplacement</strong>
          <% end %>
          <label for="formGroupInputSmall">à</label>
            <input type="text" class="search-input" placeholder="Lyon" name="location" id="user_input_autocomplete_address">
          <label for="formGroupInputSmall">en</label>
          <select class="search-input select-height" placeholder="Médecine générale" name="speciality">
            <option value="medg">Médecine générale</option>
            <option value="kine">Kinésithérapie</option>
            <option value="otherspe">Autre spécialité</option>
          </select>
          <input type="hidden" name="unrated" value="true">
          <button type="submit" class="btn btn-primary btn-search-home"><i class="fa fa-search"></i></button>
        </form>
    </div>
  </div>
</div>

<div class="how">
  <div class="container">
    <div class="row ">
      <div class="text-center">
        <h3>Comment ça marche ?</h3>
        <br>
        <div class="col-xs-6 col-md-3">
          <div class="card round_icons">
            <%= image_tag "calendar2.svg", size: "100", class: "" %>
            <h5><strong>1.</strong> Déclarez vos disponibilités sur le calendrier intelligent</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card round_icons">
            <%= image_tag "doctor2.svg", size: "100", class: "" %>
            <h5><strong>2.</strong> Choisissez le cabinet ou le remplaçant qui vous convient</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card round_icons">
            <%= image_tag "switch2.svg", size: "100", class: "" %>
            <h5><strong>3.</strong> Échangez aisément depuis la plateforme</h5>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="card round_icons">
            <%= image_tag "stethoscope2.svg", size: "100", class: "" %>
            <h5><strong>4.</strong> Donnez votre feedback à la fin de la prestation</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row medias">
    <div class="text-center">
      <h3>Ils parlent de nous :</h3>
      <br>
      <div class="col-xs-6 col-sm-2 col-sm-offset-2 ">
        <%= image_tag "le_wagon.png", class: "img-responsive"%>
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <%= image_tag "jdn.png", class: "img-responsive" %>
      </div>
<!--       <div class="col-xs-6 col-sm-2">
        <%= image_tag "paris-sud.png", class: "img-responsive"%>
      </div> -->
      <div class="col-xs-6 col-sm-2 ">
        <%= image_tag "lemonde.png", class: "img-responsive"%>
      </div>
      <div class="col-xs-6 col-sm-2 " style=" padding-left: 20px;">
        <%= image_tag "le_quotidien.png", class: "img-responsive"%>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
  <div class="row">
    <div class="owl-carousel">
      <div class="carousel-card text-center col-xs-12">
        <%= image_tag 'home_doc_4.jpg', class: "avatar-larger" %>
        <h4>Dr Leray Benjamin | Angers</h4>
        <div class="description text-justify">
          <p>"La plateforme que je recommande à tous mes amis internes pour trouver leurs remplacements. "</p>
        </div>
      </div>
      <div class="carousel-card text-center col-xs-12">
        <%= image_tag 'home_doc_3.jpg', class: "avatar-larger" %>
        <h4>Dr Valet Marielle | Orléans</h4>
        <div class="description text-justify">
          <p>"Je rentre les périodes pendant lesquelles je recherche des remplaçants et le site s'occupe du reste ! Que rêver de mieux ?"</p>
        </div>
      </div>
      <div class="carousel-card text-center col-xs-12">
        <%= image_tag 'home_doc_1.jpg', class: "avatar-larger" %>
        <h4>Dr Gibaud Laurent | Les Sables d'Olonne</h4>
        <div class="description text-justify">
          <p>"Auparavant, trouver un remplaçant de dernière minute était une mission quasi-impossible, mais ca, c'était avant."</p>
        </div>
      </div>
      <div class="carousel-card text-center col-xs-12">
        <%= image_tag 'home_doc_2.jpg', class: "avatar-larger" %>
        <h4>Dr Lamont Tatiana | Vaucresson</h4>
        <div class="description text-justify">
          <p>"Remplamatch est de loin la solution la plus pratique, rapide et agréable que j'ai pu utiliser."</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(function(){
        $(".owl-carousel").owlCarousel({
          items : 2,
          itemsCustom : false,
          itemsDesktop : [1199,2],
          itemsDesktopSmall : [980,2],
          itemsTablet: [768,1],
          itemsTabletSmall: false,
          itemsMobile : [479,1],
          autoPlay : 4000,
          stopOnHover : false
        });
      });
    <% end %>
  <% end %>
</script>
<!-- Other Footer if interested !
<div class="wrapper-footer">
  <div class="icon-link">
    <ul class="list-inline list-unstyled">
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
  <div class="made-with">
    <h6>Made with <i class="fa fa-heart footer-hover"></i> and hard <i class="fa fa-hand-spock-o footer-hover"></i> - 2016 RemplaMatch</h6>
  </div>
</div>
 -->
