<div id="title" class="text-center">
  <% if current_user.has_practice == false %>
    <h3>Mon calendrier de recherches de remplacements</h3>
  <% else %>
    <h3>Mon calendrier de recherches de remplaçants</h3>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="demo"></div>
      <div class="call-to-action text-center">
        <%= form_tag(user_slots_path(@user), :method => :post ) do -%>
        <input id="startDate" name="start_date" type="hidden" value="" />
        <input id="endDate" name="end_date" type="hidden" value="" />
        <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary" value='Ajouter la plage sélectionnée'/>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="demands">
  <div class="container">
    <div class="row-fluid">
      <div class="availabilities text-center col-sm-12 col-md-6">
        <% if current_user.has_practice == false %>
          <h4>Mes recherches de remplacements</h4>
        <% else %>
          <h4>Mes recherches de remplaçants</h4>
        <% end %>
        <% if @slot_ranges.ntuples == 0 %>
           <i class="fa fa-calendar-minus-o"></i>
           <div class="empty_availabilities">Vous n'avez pas encore défini de plages de recherches <br> Veuillez remplir votre calendrier ci-dessus et valider vos plages</div>
        <% else %>
          <% @slot_ranges.each do |range| %>
            <ul class="list-inline list-unstyled">
              <li><%= human_slot_range(range) %></li>
              <li><%= link_to "Supprimer", slot_range_path(slot_range_id(range)), method: :delete, data: { confirm: "Etes-vous sûr(e) ?" } %></li>
              <hr>
            </ul>
          <% end %>
        <% end %>
      </div>
      <div class="incoming_demands text-center col-sm-12 col-md-6">
        <h4>Mes demandes de remplacements en cours</h4>
        <% if current_user.slotes.each { |slot| slot.booking_id.nil? } %>
          <i class="fa fa-user-md"></i>
          <div class="empty_availabilities">Vous n'avez pas encore reçu de demandes <br> Commencez par remplir votre calendrier ci-dessus et valider vos plages</div>
        <% else %>
          <%= @booking.user.first_name %>
          <ul class="list-inline list-unstyled">
            <li><%= human_slot_range(range) %></li>
            <hr>
          </ul>
        <% end %>
          <!-- MY PENDING BOOKINGS + MY PAST BOOKINGS TO DO  -->

      </div>
    </div>
  </div>
</div>






