<% content_for :meta_title, "RemplaMatch - Mon calendrier - #{current_user.first_name} #{current_user.last_name}" %>

<div id="title" class="text-center">
  <h4>Sélectionnez vos périodes de recherche</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="demo"></div>
      <div class="call-to-action text-center">
        <%= form_tag(user_slots_path(current_user), :method => :post, remote: true ) do -%>
          <input id="startDate" name="start_date" type="hidden" value="" />
          <input id="endDate" name="end_date" type="hidden" value="" />
          <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary" value='Valider cette plage'/>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="demands">
  <div class="container">
    <div class="row-fluid border-between">

      <div class="availabilities text-center col-sm-12 col-md-4">
        <h4>Mes périodes de recherche</h4>
        <div id="slots">
          <% if current_user.slots.nil? %>
            <i class="fa fa-calendar-minus-o"></i>
            <div class="empty_availabilities">Vous n'avez pas encore défini de nouvelle plage de recherche <br> Veuillez remplir votre calendrier ci-dessus et valider vos plages</div>
          <% else %>
            <% current_user.slots.order(created_at: :asc).each do |slot| %>
              <%= render 'slots/show', slot: slot %>
            <% end %>
          <% end %>
        </div>
      </div>



      <div class="incoming_demands text-center col-sm-12 col-md-4">
        <h4>Mes demandes reçues</h4>
        <% if current_user.slots.first.nil? %>
          <h5> Vous n'avez pas encore reçu de demande <br> Commencez par remplir votre calendrier ci-dessus et valider vos plages</h5>
        <% else %>
          <% current_user.slots.order(created_at: :desc).each do |slot| %>
            <% slot.bookings.order(created_at: :asc).each do |booking| %>
            <div class="requests">
              <div class="request-head">
                <% if booking.user.avatar.nil? %>
                  <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
                <% else %>
                  <%= cl_image_tag booking.user.avatar.path, width: 60, height: 60, crop: :fill, radius: :max %>
                <% end %>
                <div class="request-header-info">
                  <%= link_to user_path(booking.user) do %>
                    <strong>Dr <%= booking.user.first_name %> <%= booking.user.last_name %></strong>
                  <% end %>
                  <p>Du <%= l(booking.start_date, format: "%e %B %Y")  %></p>
                  <p>Au <%= l(booking.end_date, format: "%e %B %Y")  %></p>
                </div>
              </div>
              <hr>
              <div class="request-contact">
                <%= link_to "Contacter", user_path(booking.user) %>
              </div>
              <hr>
              <div class="request-buttons">
                <% if booking.accepted.nil? %>
                  <%= simple_form_for(booking) do |f| %>
                    <%= f.input :accepted, as: :hidden, input_html: { value: 'true' } %>
                    <%= f.button :submit, "Accepter", method: :patch, :class => 'btn btn-primary btn-calendar btn-confirm', style: "width: 98%;", title: "Confirmer le remplacement", data: {confirm: 'Êtes-vous certain de vouloir accepter cette demande ?', commit: "Valider", 'commit-class': "btn-primary btn-modal", cancel: "Annuler", 'cancel-class': "btn-default btn-modal" } %>
                  <% end %><%= simple_form_for(booking) do |f| %>
                    <%= f.input :accepted, as: :hidden, input_html: { value: 'false' } %>
                    <%= f.button :submit, "Refuser", method: :patch, :class => 'btn btn-danger btn-calendar btn-confirm', style: "width: 98%;", title: "Confirmer le refus du remplacement", data: {confirm: 'Êtes-vous certain de vouloir refuser cette demande ?', commit: "Valider", 'commit-class': "btn-primary btn-modal", cancel: "Annuler", 'cancel-class': "btn-default btn-modal" }%>
                  <% end %>
                <% elsif booking.accepted == false %>
                  <strong>Remplacement refusé</strong>
                <% elsif booking.accepted && booking.end_date >= Date.today %>
                  <strong>Remplacement accepté</strong>
                <% elsif booking.accepted && booking.end_date < Date.today && Review.where(booking_id: booking.id).size == 0 %>
                  <strong>Remplacement terminé</strong>
                  <button type="button" class="btn btn-info btn-calendar" data-toggle="modal" data-target="#myModal" style="width: 98%; margin: 3px;">
                    Donnez votre avis
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
                        </div>
                        <div class="modal-body">
                          <%= simple_form_for([ booking.user, @review ]) do |f| %>
                            <%= f.error_notification %>


                            <%= f.input :rating, label: "Nombre d'étoiles", collection: [1,2,3,4,5] %>
                            <%= f.input :content, label: "Commentaire" %>
                            <%= f.input :booking_id, as: :hidden, input_html: { value: booking.id } %>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                          <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <strong>Remplacement terminé</strong>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class = "outcoming_demands text-center col-sm-12 col-md-4">
        <h4>Mes demandes envoyées</h4>
          <% if current_user.bookings.nil? %>
            <p> Vous n'avez pas encore fait de demande !</p>
          <% else %>
            <% current_user.bookings.order(created_at: :desc).each do |booking| %>
            <% if booking.slot.nil?%>
            <!-- <h5>un créneau pour lequel vous aviez fait une demande n'existe plus</h5> -->
            <% else %>
              <div class="requests" id="booking-<%= booking.id %>">
                <%= link_to booking_path(booking), method: :delete, remote: true, title: "Confirmer la suppression", data: {confirm: 'Êtes-vous certain de vouloir supprimer cette demande ?', commit: "Valider", 'commit-class': "btn-primary btn-modal", cancel: "Annuler", 'cancel-class': "btn-default btn-modal" } do %>
                  <div class="delete-gray"><strong>X</strong></div>
                <% end %>
                <div class="request-head">
                  <% if booking.slot.user.avatar.nil? %>
                    <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
                  <% else %>
                    <%= cl_image_tag booking.slot.user.avatar.path, width: 60, height: 60, crop: :fill, radius: :max %>
                  <% end %>
                  <div class="request-header-info">
                    <%= link_to user_path(booking.slot.user) do %>
                      <strong>Dr <%= booking.slot.user.first_name %> <%= booking.slot.user.last_name %></strong>
                    <% end %>
                    <p>Du <%= l(booking.start_date, format: "%e %B %Y")  %></p>
                    <p>Au <%= l(booking.end_date, format: "%e %B %Y")  %></p>
                  </div>
                </div>
                <hr>
                <div class="request-contact">
                  <%= link_to "Contacter", user_path(booking.slot.user) %>
                </div>
                <hr>
                <div class="request-buttons">
                  <% if booking.accepted.nil? %>
                    <em>Demande en attente</em>
                  <% elsif booking.accepted == false %>
                    <strong>Remplacement refusé</strong>
                  <% elsif booking.accepted && booking.end_date >= Date.today %>
                    <strong>Remplacement accepté</strong>
                  <% elsif booking.accepted && booking.end_date < Date.today && Review.where(booking_id: booking.id).size == 0 %>
                    <strong>Remplacement terminé</strong>
                    <button type="button" class="btn btn-info btn-calendar" data-toggle="modal" data-target="#myModal">
                      Donnez votre avis
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for([ booking.slot.user, @review ]) do |f| %>
                              <%= f.error_notification %>

                              <%= f.input :rating, label: "Nombre d'étoiles", collection: [1,2,3,4,5] %>
                              <%= f.input :content, label: "Commentaire" %>
                              <%= f.input :booking_id, as: :hidden, input_html: { value: booking.id } %>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <strong>Remplacement terminé</strong>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>







