<% content_for :meta_title, "RemplaMatch - Mon calendrier - #{current_user.first_name} #{current_user.last_name}" %>

<div id="title" class="text-center">
  <% if current_user.has_practice? %>
    <h3>Mon calendrier de recherches de remplacants</h3>
  <% else %>
    <h3>Mon calendrier de recherches de remplacements</h3>
  <%end%>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="demo"></div>
      <div class="call-to-action text-center">
        <%= form_tag(user_slots_path(current_user), :method => :post ) do -%>
        <input id="startDate" name="start_date" type="hidden" value="" />
        <input id="endDate" name="end_date" type="hidden" value="" />
        <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary" value='Ajouter la plage sélectionnée'/>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="demands">
  <div class="container">
    <div class="row-fluid">

      <div class="availabilities text-center col-sm-12 col-md-4">
        <% if current_user.has_practice? %>
          <h4>Les dates où je recherche des remplaçants</h4>
        <% else %>
          <h4>Les dates où je recherche des remplacements</h4>
        <% end %>
        <% if current_user.slots.nil? %>
          <i class="fa fa-calendar-minus-o"></i>
          <div class="empty_availabilities">Vous n'avez pas encore défini de plages de recherches <br> Veuillez remplir votre calendrier ci-dessus et valider vos plages</div>
        <% else %>
          <% current_user.slots.each do |slot| %>
            <ul class="list-inline list-unstyled">
              <li>Du <%= l(slot.start_date, format: "%e %B %Y") %> au <%= l(slot.end_date, format: "%e %B %Y") %></li>
              <li><%= link_to "Supprimer", user_slot_path(id: slot.id, user_id: current_user.id), method: :delete, data: { confirm: "Etes-vous sûr(e) ?" } %></li>
              <hr>
            </ul>
          <% end %>
        <% end %>
      </div>

      <div class="incoming_demands text-center col-sm-12 col-md-4">
        <% if current_user.has_practice %>
          <h4>Ils souhaitent vous remplacer :</h4>
        <% else %>
          <h4>Ils souhaitent que vous les remplaciez :</h4>
        <% end %>
        <!-- Je suis un cabinet ! -->
        <% if current_user.slots.first.nil? %>
          <h5> Vous n'avez pas encore reçu de demande <br> Commencez par remplir votre calendrier ci-dessus et valider vos plages</h5>
        <% else %>
          <% current_user.slots.each do |slot| %>
            <% slot.bookings.each do |booking| %>
            <div class="requests">

              <% if booking.user.avatar.nil? %>
                <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
              <% else %>
                <%= image_tag booking.user.avatar, class: "avatar-large " %>
              <% end %>
              Dr <%= booking.user.first_name %> <%= booking.user.last_name %> <br>
              <%= l(booking.start_date, format: "%e %B %Y")  %>
              au <%= l(booking.end_date, format: "%e %B %Y")  %>
              <br>
              <%= link_to "Contacter", user_path(booking.user) %>
              <br><br>
              <% if booking.accepted.nil? %>
                <%= simple_form_for(booking) do |f| %>
                  <%= f.input :accepted, as: :hidden, input_html: { value: 'true' } %>
                  <%= f.button :submit, "Accepter", method: :patch, :class => 'btn btn-primary btn-calendar btn-confirm' %>
                <% end %><%= simple_form_for(booking) do |f| %>
                  <%= f.input :accepted, as: :hidden, input_html: { value: 'false' } %>
                  <%= f.button :submit, "Refuser", method: :patch, :class => 'btn btn-danger btn-calendar btn-confirm' %>
                <% end %>
              <% elsif booking.accepted == false %>
                <strong>Remplacement refusé</strong>
              <% else %>
                <strong>Remplacement accepté !</strong>
              <% end %>
              <% if booking.accepted && booking.end_date <= Date.today %>
                <br><br>
                <button type="button" class="btn btn-info btn-calendar" data-toggle="modal" data-target="#myModal">
                  Donnez votre avis
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for([ booking.user, @review ]) do |f| %>
                          <%= f.error_notification %>

                          <%= f.input :rating %>
                          <%= f.input :content %>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class = "outcoming_demands text-center col-sm-12 col-md-4">
        <% if current_user.has_practice %>
          <h4>Vous souhaitez qu'ils vous remplacent :</h4>
        <% else %>
          <h4>Vous souhaitez les remplacer :</h4>
        <% end %>
          <% if current_user.bookings.nil? %>
            <p> Vous n'avez pas encore fait de demande !</p>
          <% else %>
            <% current_user.bookings.each do |booking| %>
          <div class="requests">
            <% if booking.slot.user.avatar.nil? %>
              <%= image_tag "placeholder_pic.png", class: "avatar-large" %>
            <% else %>
              <%= image_tag booking.slot.user.avatar, class: "avatar-large " %>
            <% end %>
            Dr <%= booking.slot.user.first_name %> <%= booking.slot.user.last_name %><br>
              <%= l(booking.start_date, format: "%e %B %Y") %>
              au <%= l(booking.end_date, format: "%e %B %Y") %> <br><br>
              <div class="status">
                <% if booking.accepted.nil? %>
                  <em>Demande en attente</em>
                <% elsif booking.accepted == false %>
                  <strong>Remplacement refusé</strong>
                <% else %>
                  <strong>Remplacement accepté !</strong>
                <% end %>
              </div>
              <br>
              <% if booking.accepted && booking.end_date <= Date.today %>
                <button type="button" class="btn btn-info btn-calendar" data-toggle="modal" data-target="#myModal">
                  Donnez votre avis
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Donnez votre avis</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for([ booking.slot.user, @review ]) do |f| %>
                          <%= f.error_notification %>

                          <%= f.input :rating %>
                          <%= f.input :content %>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <%= f.button :submit, "Valider", class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
            <% end %>
          <% end %>

      </div>
    </div>
  </div>
</div>







